<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
   
        <div id="form">
          
           <!-- <img src="login/download.png" class="logo"> -->
           <h1>Login here</h1>
           <p id="notfound" *ngIf="permision==false" >Incorrect email or password</p>
           <p id="condition">{{condition}}</p>
           <form>
           <p> Email</p>
           <input type="email" placeholder="Enter Email"
           [formControl]="email"
            >
         
           <p>Password</p>
           <input type="password" placeholder="Enter Password" 
           [formControl]="passwor">
           <!-- <p id="condition" *ngIf="passwor.value==''">{{condition2}}</p>
            -->
           <br>
           <button type="button" name="" value="login"
           (click)="login()"
           [routerLink]="permision ? ['/start'] : []"
            
           >
           Click</button>
           <a style="cursor: pointer;"
           routerLink="/recover"
           >Recover Password</a><br>
           <a style="cursor: pointer;"
               routerLink="/signup">Don't have any account</a>
           </form>
         
           
        </div>
        <!-- <app-submit-tab [emailmessage]="recieve"></app-submit-tab> -->
       
    </body>
    
</html>