<h2><span >{{c}}</span>/5</h2>
 <form>
  <div class="jumbotron">
    <h4>	
      If we want to show an Arrow as cursor, then which value we will use ?</h4>
  </div>
     
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       (click)="onValue('HTML')"
       (click)=localClick(1)>pointer
       <span class="checkmark"></span>
     </label>
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       value="HTML"
       ngModel
       (click)="onValue('CSS')"
       (click)=localClick(1)>arrow
       <span class="checkmark"></span>
     </label>
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       
       ngModel
       (click)="onValue('SQL')"
       (click)=localClick(1)>default
       <span class="checkmark"></span>
     </label>
 <!-- <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio"
      (click)="onValue('CSS')"
      (click)=localClick(1) value="CSS"
      >C language
    </label>
  </div> -->
  <!-- <div *ngIf="isonValue('HTML')">
    HTML selectted
  </div>
  <div *ngIf="isonValue('CSS')">
    CSS Selected
  </div>
  <div *ngIf="isonValue('SQL')">
    SQL Selected
  </div> -->
  <button type="button" class="btn btn-primary" 
  [disabled]="exampleFlag"
  (click)="truValue()"
  routerLink="/question4"
  >Primary</button>
  </form>

  
