
 <h2><span >{{c}}</span>/2</h2>
 <form>
  <div class="jumbotron">
    <h4>which language used to make the static website?</h4>
  </div>
     
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       (click)="onValue('HTML')"
       (click)=localClick(1)>Jquery
       <span class="checkmark"></span>
     </label>
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       value="HTML"
       ngModel
       (click)="onValue('SQL')"
       (click)=localClick(1)>HTMLCSS
       <span class="checkmark"></span>
     </label>
     <label class="container">
       <input type="radio" checked="checked" name="radio"
       
       ngModel
       (click)="onValue('SQL')"
       (click)=localClick(1)>C#
       <span class="checkmark"></span>
     </label>
 <!-- <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio"
      (click)="onValue('CSS')"
      (click)=localClick(1) value="CSS"
      >C language
    </label>
  </div> -->
  <!-- <div *ngIf="isonValue('HTML')">
    HTML selectted
  </div>
  <div *ngIf="isonValue('CSS')">
    CSS Selected
  </div>
  <div *ngIf="isonValue('SQL')">
    SQL Selected
  </div> -->
  <button type="button" class="btn btn-primary" 
  [disabled]="exampleFlag"
  (click)="truValue()"
  >Primary</button>
  </form>

  