<!-- <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
       
  <router-outlet></router-outlet>
  
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
       
  <router-outlet></router-outlet>
  
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
       
  <router-outlet></router-outlet>
  
  </div>
</div>
</div> -->

<!-- </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
       
  <router-outlet></router-outlet>
  
  </div>
</div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
       
  <router-outlet></router-outlet>
  
  </div>
</div>
</div> -->
    <!-- <div class="d-flex flex-column">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>
 -->
 
 <div *ngFor="let link of links">
    <div *ngIf="routerr.url === link">
          <h1 id="timer" [ngStyle]="{'color':timeLeft >= 0 && timeLeft <=3 ? 'red' : 'black' 
            }">{{timeLeft}}:00</h1>
       
   </div>
</div>

 <div  class="container">
  <router-outlet></router-outlet>

 </div>
 