<form id="form1">
  <h1>Which language identifies the database?</h1>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio"
    (click)="onValue('SQL')"
    (click)=localClick(1)>SQL
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio"
    value="HTML"
    ngModel
    (click)="onValue('HTML')"
    (click)=localClick(1)>HTML
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio"
    (click)="onValue('CSS')"
    (click)=localClick(1) value="CSS"
    >CSS
  </label>
</div>
<!-- <div *ngIf="isonValue('HTML')">
  HTML selectted
</div>
<div *ngIf="isonValue('CSS')">
  CSS Selected
</div>
<div *ngIf="isonValue('SQL')">
  SQL Selected
</div> -->
<button type="button" class="btn btn-primary" 
[disabled]="exampleFlag"
(click)="truValue()"
routerLink="/agay"
>Primary</button>
</form>