
<form>
    <label for="Email">Enter Email:</label>
    <input type="email" id="email"    [formControl]="email"><br>
    <label for="Pass">Enter Password:</label>
    <input type="password" id="password"   [formControl]="password"><br>
    <label for="Cpass">Confirm Password</label>
    <input type="password" id="Cpass"   [formControl]="Cpassword"><br>
    <input type="submit" value="Update" id="button" (click)="Update()"><br>
    <span  style="color: red;">{{updated}}</span>
    <a style="cursor: pointer;" id="login" routerLink="">Go to Login page</a>
  </form>